.login-background {
    background-color: red !important;
    background-image: url('/images/background.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    min-height: 100vh !important;
    width: 100% !important;
}
